{% assign handle = variable[0] | append: '' %}
{% assign prod = all_products[handle] %}

{% if prod.title != '' %}
<style>
  .shortcode-product { display: grid; padding: 1em 0; grid-gap: 1.25em; margin-bottom: 1.25em }
  @media(min-width: 768px) { .shortcode-product { grid-template-columns: 0.5fr 1fr; } }
  .shortcode-product .product-image-wrapper { border: none !important; }
  .shortcode-product .product-image { width: 100%; }
  .shortcode-product .description { margin-bottom: 1.25em; }
  .shortcode-product .product-title { color: inherit; }
</style>
<div class="product shortcode-product">
  <a class="product-image-wrapper" href="{{ prod.url | within: collection }}">
    <img
      class="product-image"
      src="{{ prod.featured_image.src | img_url: '360x' }}"
      width="360"
      height="auto"
      alt="{{ prod.title | escape }}"
      data-sizes="auto"
      loading="lazy"
    />
  </a>
  <div class="product-info">
    <a class="product-title" href="{{ prod.url | within: collection }}">
      <h3>{{ prod.title }}</h3>
    </a>
    <div class="description"><p>{{ prod.description | strip_html | truncate: 215 }}</p></div>
    <a class="button btn" href="{{ prod.url | within: collection }}">View Product</a>
  </div>
</div>
{% endif %}